.content{
  background-color: rgb(240, 242, 245);
  .content-card {
    background-color:rgb(240, 242, 245);
    margin: 24px;
  }
  .content-graph-bar{
    background-color: white;
    margin: 0 24px;
    padding-top: 16px;
  }
  .content-graph-table{
    background-color: white;
    margin: 24px;
  }
}
