.current-house-list{
  width: 75%;
  .notification-icon{
    display: inline-block;
    margin-right: 10px;
    transform: rotateY(180deg);
    color: #1890ff;
  }
  .register-link{
    margin-left: 20px;
  }
}
